.logo {
  height: 32px;
  background: rgba(5, 107, 60, 0.274);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: white;
  font-family: 'Lucida Sans';
  font-size: 18px;
  text-align: justify;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.site-layout-background img {
  margin: 5px;
  border: 1px solid rgb(228, 213, 9);
  float: right;
  width: 500px;
  height: 400px;
  padding: 10px;
}

.site-layout-background img:hover {
  border: 5px solid rgb(231, 198, 11);
  
}

.punjabi-text h1 {
  color: crimson;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}