.page-header-asr {
    border: 2px solid rgb(82, 107, 14);
    background-color: blueviolet;
    height: 150px;
    justify-content: center;
  }

.page-header-asr h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 40px;
  color: rgb(214, 214, 31);

}

.page-header-asr marquee h1 {
  color: rgb(60, 214, 106);
  font-weight: bolder;
  font-size: 30px;

}

.each-slide {
  margin: auto;
  text-align: center;
}

.each-slide span {
  color: indigo;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  max-width: 100%;
  height: 400px;
  border: solid black;
}

.each-slide div > span {
  font-size: 50px;
}

.each-slide marquee {
  height: 80px;
  overflow: visible;
  position: relative;
}

#gurus-photo {
  height: 50%;
  width: 100%;
  align-items: center;
}

#khanda {
  height: 50%;
  width: 100%;
  align-content: center;
}

#text {
  justify-content: center;
  padding: 30px;
  font-family: cursive;
}

#text:hover {
  color: aqua;
}